// Define variables for your color scheme

// For example:
$red: #F5C6B2;
$blue: #0D6EFD;
$yellow: #F6E9C1;
$orange: #E67E22;
$green: #54daaf;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Branded colors

$my-darkest-blue: #1F363D;
$my-dark-blue: #40798C;
$my-blue-green: #70A9A1;
$my-neutral-green: #9EC1A3;
$my-light-green: #CFE0C3;
$my-ice-green: #F6FFF8;

// Additional colors
$my-contrast-color: #E29578;
$my-light-contrast-color:#E29578;

.rediconcolor {color:#fd1015;}
.blueiconcolor {color:#1F363D;}
