.lp-hero-banner {
  background-image: url("background-image-lp.png");
  background-size: cover;
  height: 850px;
  padding: 200px 0;
}

.lp-banner-content{
  align-items: center;
}

.lp-hero-banner h1{
  font-size: 40px;
  font-weight: bold;
  color: #F8F9FA;

}


.lp-hero-banner p {
  text-align: left !important;
  color: white !important;
  font-size: 20px !important;
  opacity: 0.8;
  margin: 20px 0;
}


.lp-button{
  font-family: "Roboto";
  border-radius: 25px;
  color: white;
  background-color: #045651;
  padding: 16px 34px;
  border: #045651;
  font-weight: bold;
  display: inline-block;
  letter-spacing: 2px;

}

.lp-arrow-button {
  font-family: "Roboto";
  font-size: 40px;
  font-weight: lighter;
  text-align: center;
  width: 100px;
  height: 90px;
  border-radius: 25px;
  color: #3bad83;
  background-color: transparent;
  padding: 16px 34px;
  margin: 10px;
  border: 2px solid #3bad83;
  display: inline-block;
}


.on-page-section-title {
  color: #045651;
  font-size: 30px;
  font-weight: 800;
  letter-spacing: 2px;
  text-align: center;
  padding: 5px 25px;

}

.dark-grey-p {
  color: #707070;
  font-size: 18px;
  text-align: center;

}

.services {
  display: flex;
  margin: 60px 40px;
  padding: 5px 15px;
}

.pm-value-proposition{
  padding-top: 30px;
}
.pm-value-proposition p{
  text-align: left !important;
  padding: 5px 25px;
}

.pm-value-proposition h3{
  text-align: left !important;
  padding: 5px 25px;
}

.background-image{
  height: 450px;
  background-image: url("benefits-background.png");
}

.white-on-page-section-title{
  color: #F8F9FA;
  font-size: 30px;
  font-weight: 800;
  letter-spacing: 2px;
  text-align: center;

}

.roadmap-legend ul{
  display: flex;
  color: #F8F9FA;
  font-size: 22px;
  margin: 10px auto;
  justify-content: center;

}

.roadmap-legend li{
  display: flex;
  list-style: none;
  width: 200px;
  padding: 20px 10px;
  text-align: center;
  margin-bottom: 0 !important;
}

.roadmap-legend i {
  display: block;
  margin: 0 10px;
  border-radius: 6px;
  align-items: center;
}

.roadmap-legend .success{
 color: #3BAD83;
}

.roadmap-legend .info{
  color: #e7a223;
 }

 .roadmap-legend .danger{
  color: #cf2e2e;
 }

.roadmap-footer{
  height: 450px;
  background-image: url("timeline-footer.png");
}


 // timeline


section {
  padding: 100px 0;
}

html, body {
  overflow-x: hidden;
}


.timeline {

	position: relative;

	&::before {
		content: '';
		width: 5px;
		height: 95%;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}
}


.timeline-item {
	width: 100%;
	margin-bottom: 70px;

	&:nth-child(even) {

		.timeline-content {
			float: right;
			padding: 40px 30px 10px 30px;

			// .date {
			// 	right: auto;
			// 	left: 0;
			// }

			&::after {
				content: '';
				position: absolute;
				border-style: solid;
				width: 0;
				height: 0;
				top: 30px;
				left: -15px;
				border-width: 10px 15px 10px 0;
				border-color: transparent #f5f5f5 transparent transparent;
			}
		}
	}

	&::after {
		content: '';
		display: block;
		clear: both;
	}
}

.timeline-content {
	position: relative;
	width: 45%;
	padding: 10px 30px;
	border-radius: 4px;
	background: #f5f5f5;
	box-shadow: 0 20px 25px -15px rgba(0, 0, 0, .3);

	&::after {
		content: '';
		position: absolute;
		border-style: solid;
		width: 0;
		height: 0;
		top: 30px;
		right: -15px;
		border-width: 10px 0 10px 15px;
		border-color: transparent transparent transparent #f5f5f5;
	}
}

.timeline-content {
	position: relative;
	width: 45%;
	padding: 10px 30px;
	border-radius: 4px;
	background: #f5f5f5;
	box-shadow: 0 20px 25px -15px rgba(0, 0, 0, .3);

	&::after {
		content: '';
		position: absolute;
		border-style: solid;
		width: 0;
		height: 0;
		top: 30px;
		right: -15px;
		border-width: 10px 0 10px 15px;
		border-color: transparent transparent transparent #f5f5f5;
	}
}

.timeline-item {
  .timeline-img-header {
			background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0, .4)), url('https://picsum.photos/1000/800/?random') center center no-repeat;
			background-size: cover;
		}
}

@media screen and (max-width: 768px) {

	.timeline {

		&::before {
			left: 50px;
		}

		// .timeline-img {
		// 	left: 50px;
		// }

		.timeline-content {
			max-width: 100%;
			width: auto;
			margin-left: 70px;
		}

		.timeline-item {

			&:nth-child(even) {

				.timeline-content {
					float: none;

				}
			}

			&:nth-child(odd) {

				.timeline-content {

					&::after {
						content: '';
						position: absolute;
						border-style: solid;
						width: 0;
						height: 0;
						top: 30px;
						left: -15px;
						border-width: 10px 15px 10px 0;
						border-color: transparent #f5f5f5 transparent transparent;
					}
				}

			}
		}
	}

}

// END

.faq{
  margin: 30px auto;
}
.faq-question{
  border: 2px solid #3BAD83;
  border-radius: 35px;
  margin-bottom: 2rem;
  margin: 10px 10%;
  transition: border .3s ease-out;
}

.faq-question h4 {
  line-height: 1;
  font-weight: 900;
  padding: 2rem 7rem 2rem 2.7rem;
  color: #055651;
  font-family: "proxima-nova",sans-serif;
  position: relative;
  cursor: pointer;
}

.faq-q{
  display: inline-block;
  position: relative;

}

.open-q{
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: 102px;
    display: block;
}
