.lp-hero-banner {
  background-image: url("background-image-lp.png");
  background-size: cover;
  height: 900px;
  padding: 200px 0;
}

.lp-banner-content{
  align-items: center;
}

.lp-hero-banner h1{
  font-size: 40px;
  font-weight: bold;
  color: #F8F9FA;

}

.lp-hero-banner p {
  text-align: left !important;
  color: white !important;
  font-size: 20px !important;
  opacity: 0.8;
  margin: 20px 0;
}


.lp-button{
  font-family: "Roboto";
  border-radius: 25px;
  color: white;
  background-color: #045651;
  padding: 16px 34px;
  border: #045651;
  font-weight: bold;
  display: inline-block;
  letter-spacing: 1px;

}

.lp-arrow-button {
  font-family: "Roboto";
  font-size: 40px;
  font-weight: lighter;
  text-align: center;
  width: 100px;
  height: 90px;
  border-radius: 25px;
  color: #3bad83;
  background-color: transparent;
  padding: 16px 34px;
  margin: 10px;
  border: 2px solid #3bad83;
  display: inline-block;
}

.sign-up-form{
  margin-top: -100px;
}

.on-page-section-title {
  color: #045651;
  font-size: 30px;
  font-weight: 800;
  letter-spacing: 2px;
  text-align: center;
  padding: 5px 25px;

}

.dark-grey-p {
  color: #707070;
  font-size: 18px;
  text-align: center;

}
.about-section {
  margin-bottom: 40px;

}
.services {
  display: flex;
  margin: 60px 40px;
  padding: 5px 15px;
}

.pm-value-proposition{
  padding-top: 30px;
}

.pm-value-proposition p{
  text-align: left !important;
  padding: 5px 25px;
}

.pm-value-proposition h3{
  text-align: left !important;
  padding: 5px 25px;
}

.background-image{
  height: 450px;
  background-image: url("benefits-background.png");
}

.white-on-page-section-title{
  color: #F8F9FA;
  font-size: 30px;
  font-weight: 800;
  letter-spacing: 2px;
  text-align: center;
}

.gallery-header {
  height: 110px;
  background-image: url("gallery-header.png");
  object-fit: fill;
}

.gallery-footer {
  width: 100%;
  height: 150px;
  background-image: url("gallery-footer.png");
  object-fit: fill;
}

// ADDED VALUE

.lp-added-value{
  box-sizing: content-box;
  height: 70px;
  line-height: 100px;
  margin: 40px;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-weight: bold;
}

.lp-added-value .on-page-section-title {
  margin: 0;
  width: auto;
}

#slider-container {
  color: #00999F;
  font-size: 30px;
  text-align: left;
  box-sizing: border-box;
  animation: slider 8s infinite;
}

#slider-container span {
  display: block;
  height: 100%;
  // border: solid 1px orange;
}
@keyframes slider {
  // 0% {margin-top: -60%;}
  // 5% {margin-top: -30%;}
  // 25% {margin-top: -30%;}
  // 30% {margin-top: 0%;}
  // 50% {margin-top: 0%;}
  // 55% {margin-top: 30%;}
  // 75% {margin-top: 30%;}
  // 80% {margin-top: 60%;}
  // 100% {margin-top: 60%;}

  0% {transform: translateY(46%);}
  5% {transform: translateY(46%);}
  17% {transform: translateY(27%);}
  22% {transform: translateY(27%);}
  34% {transform: translateY(9%);}
  39% {transform: translateY(9%);}
  51% {transform: translateY(-9%);}
  56% {transform: translateY(-9%);}
  68% {transform: translateY(-27%);}
  73% {transform: translateY(-27%);}
  85% {transform: translateY(-45%);}
  90% {transform: translateY(-45%);}
  100% {transform: translateY(-55%);}
}

// ROADMAP


.roadmap-legend ul{
  display: flex;
  color: #F8F9FA;
  font-size: 20px;
  margin: 10px auto;
  justify-content: center;

}

.roadmap-legend li{
  display: flex;
  list-style: none;
  width: 200px;
  padding: 20px 10px;
  text-align: center;
  align-items: center;
  margin-bottom: 0 !important;
}

.roadmap-legend i{
  margin: 0 10px;
  border-radius: 6px;
  align-items: center;
  justify-content: center;
}

.roadmap-legend p{
  margin: 0 10px;
}

.phase-status{
  margin: auto;
}
.phase-status .fas {
  font-size: 30px;

}

.roadmap-legend .success{
 color: #3BAD83;
}

.roadmap-legend .info{
  color: #e7a223;
 }

 .roadmap-legend .danger{
  color: #cf2e2e;
 }

.roadmap-footer{
  height: 200px;
  background-image: url("timeline-footer.png");
  object-fit: cover;
}

.phase-text .phase-title{
  font-weight: bold;

}

.phase-text{
  display: block;
  text-align: right;
  align-items: center;
  margin: auto;
}

// .timeline-items {
//   position: absolute;
//   align-items: center;
// }

// .phase-status {
//   position: absolute;
//   align-items: center;
// }

.phase-description{
  background-color: #F8F9FA;
  font-size: 18px;
  color: #707070;
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
  max-width: 350px;
}

.centered-block {
  padding: 80px;
}



.faq{
  margin: 30px auto;
}

.faq-question{
  border: 2px solid #3BAD83;
  border-radius: 35px;
  margin-bottom: 2rem;
  margin: 10px 10%;
  transition: border .3s ease-out;
}

.faq-question h4 {
  display: flex;
  line-height: 1;
  font-weight: 900;
  padding: 2rem 7rem 2rem 2.7rem;
  color: #055651;
  font-family: "proxima-nova",sans-serif;
  position: relative;
  cursor: pointer;
}

.faq-q{
  display: inline-block;
  position: relative;
  display: block;

}

.open-q i {
  color: #3BAD83
}

.open-q{
    justify-content: end;
    // width: 102px;
    // display: block;
}


// grid

:root{
  --background-dark: #2d3548;
  --text-light: rgba(255,255,255,0.6);
  --text-lighter: rgba(255,255,255,0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}

.hero-section{
  align-items: flex-start;
  background-color: #004b62;
  // border: none;
  display: flex;
  min-height: 100%;
  justify-content: center;
  padding: var(--spacing-xxl) var(--spacing-l);
}

.card-grid{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
}

@media(min-width: 540px){
  .card-grid{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(min-width: 960px){
  .card-grid{
    grid-template-columns: repeat(4, 1fr);
  }
}

.card{
  background-color: #0f4667;
  border-radius: 50px;
  list-style: none;
  position: relative;
}

.card:before{
  content: '';
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.card__background{
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-l);
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition:
    filter 200ms linear,
    transform 200ms linear;
}

.card:hover .card__background{

  transform: scale(1.05) translateZ(0);
}

.card-grid:hover > .card:not(:hover) .card__background{
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card__content{

  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 0;
}

.card__category{
  color: var(--text-light);
  font-size: 0.9rem;
  margin-bottom: var(--spacing-s);
  text-transform: uppercase;
}

.card__heading{
  color: var(--text-lighter);
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
  line-height: 1.4;
  word-spacing: 100vw;
}

// END

// FOOTER

.footer {
  background-image: url('footer-background.png');
  height: 400px;
  position: relative;
  top: 20px;
}
