.search-user{
  background-color: #F8F0F0;
}

.badge-ghost {
  background-color: $my-blue-green;
  color: #fff;
  border: 1px solid #fff;
  padding: 8px 24px;
  border-radius: 15px;
  font-weight: lighter;
  opacity: 0.6;
  max-width: auto;
  height: 60px;
  align-items: center;
}
