<%= simple_form_for [@project, @task] do |f| %>
   <div class="form-input">
    <%= f.label :notes %>
    <%= f.rich_text_area :notes, placeholder: 'Write your notes' %>
    <%= f.submit %>
  </div>
<% end %>
