<div class="container">
  <h1>Edit this task</h1>
<<<<<<< HEAD

  <%= render 'form', task: @task %>

=======
  <%= render 'form', task: @task %>
>>>>>>> master
  <%= link_to project_path(@project) do %>
    Back to project
  <% end %>
</div>
