<div class="container p-5">
  <div class="row">
    <div class="col-8">
      <h1>Edit this task</h1>
    </div>
    <div class="col-4" style= "align-self: center;">
      <%= link_to task_path(@task), class: 'btn btn-ghost-pshow' do %>
          <i class="fa fa-history"></i> Back to project
        <% end %>
    </div>
  </div>
    <%= render 'task_form', task: @task %>
</div>
