<footer class="bg-footer mt-3 px-3 border-top">

  <!-- Copyright -->
  <div class="p-4 bg-footer d-flex justify-content-between">
    <div class="copyright mt-2 px-3">
    <h3>© Copyrights: <strong>Mission:Possible</strong> 2022</h3>
    </div>
    <div class="logos">
        <a
          class="btn btn-primary btn-round btn-floating m-1 rounded-circle border-0"
          href="#!"
          role="button"
          ><i class="fab fa-twitter"></i
        ></a>
        <a
          class="btn btn-primary btn-round btn-floating m-1 rounded-circle border-0"
          href="#!"
          role="button"
          ><i class="fab fa-instagram"></i
        ></a>
        <a
          class="btn btn-primary btn-round btn-floating m-1 rounded-circle border-0"
          href="#!"
          role="button"
          ><i class="fab fa-github"></i
        ></a>
    </div>
  </div>
</footer>
