
<div class="banner">
  <div class="container">
   <div class="row">
    <div class="col text">
      <h1>Mission<strong>:Possible</strong></h1>
        <p>Why use complex tools when you can manage your projects in a nice & easy way?</p>

        <div class="login"><p class="smaller">Already have an account?</p>
          <%= link_to "Login", "#", class: "btn btn-white px-4" %>
        </div>
      </div>
    <div class="col banner-form">
      <%= render partial: 'form' %>
    </div>
    </div>
  </div>
</div>
