
<div class="banner">
  <div class="container">
    <h1>Mission<strong>:Possible</strong></h1>
    <p>Efficient tools for smart projects</p>
    <%= link_to "Start now", "#", class: "btn btn-ghost" %>
  </div>
</div>
