
<div class="banner">
  <div class="container">
   <div class="row">
    <div class="col text text-center">
      <h1>Mission<strong>:Possible</strong></h1>
      <div class="sub">
        <p>Why use complex tools when you can manage your projects in a nice & easy way?</p>
      </div>
      <div class="login-section justify-content-center text-center py-3"><p class="smaller">Already have an account?</p>
<%= link_to "Login", "#", class: "btn btn-white px-4" %>
        </div>
      </div>
    <div class="col banner-form">
      <%= render partial: 'form' %>
    </div>
    </div>
  </div>
</div>
