
<div class="banner">
  <div class="container">
    <h1>Mission<strong>:Possible</strong></h1>
    <p>Manage your projects in a nice & easy way!</p>
    <%= link_to "Start now", "#", class: "btn btn-ghost" %>
    <%= render partial: 'form' %>
  </div>
</div>
