.banner {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(asset_path('banner.jpg'));
  height: 700px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
  object-fit: cover;
}

.banner h1 {
  margin: 0;
  color: white;
  font-weight: lighter;
  font-size: 32px;
}

.banner p {
  font-size: 20px;
  color: $my-blue-green;
}

.text {
  padding: 150px;
}

.banner-form {
  background-color: rgba(255, 255, 255, 0.8);
  margin: 50px;
  & .form-label{
  color: $my-darkest-blue;
  }
  & .form-control {
    background-color: transparent;
  }
}
