.banner {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(asset_path('banner.jpg'));
  height: 500px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  padding: 150px;
}

.banner h1 {
  margin: 0;
  color: white;
  font-weight: lighter;
  font-size: 32px;
}

.banner p {
  font-size: 20px;
  color: $my-blue-green;
}
