.btn-ghost {
  color: $my-dark-blue;
  border: 1px solid $my-dark-blue;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  &:hover{
    color: $my-blue-green;
  }
}

.btn-filled {
  background-color: $my-dark-blue;
  border: 1px solid $my-dark-blue;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  color: white;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  &:hover{
    background-color: $my-blue-green;
    color:white;
    border: 1px solid $my-blue-green;

  }
}
