.cards-container {
  width: 100%;
  background-color: #F8F9FA;
  margin: 10px;
  padding: 20px 16px;
  border-radius: 5px;
  box-shadow: rgba(0,0,0,0.15) 0px 2px 8px;
}

.insider-container {
  background-color: #f8f0f0;
  margin: 10px;
  padding: 20px 16px;
  border-radius: 5px;
  box-shadow: rgba(0,0,0,0.15) 0px 2px 8px;
}


.project-card .project-actions {
  justify-content: end;
  opacity: 0;
  display: flex;
  transition: ease .3s;
}

.project-card:hover .project-actions {
  opacity: 1;
}

.project-card .project-actions .p-icon {
  color: #70A9A1;
  margin-left: 16px;
  font-size: 14px;
  font-weight: bold;
}

.project-card .project-actions .p-icon:hover {
  color: #b4dac9;
}

.project-info {
  text-decoration: none !important;
}

// card le wagon

.project-card {
  overflow: hidden;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  min-height: 100px;
  margin: 10px 0;
  padding: 0 5px;
}

.cards-container li {
  list-style: none;
}
.project-card h2 {
  font-size: 16px;
  margin: 0;
}

.project-card p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.project-card .project-card-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.project-card-infos .project-card-actions {
  position: absolute;
  right: 16px;
  // top: -20px;
  width: 40px;
}

.lp-container{
  width: 60%;
  padding: 20px 60px;
  margin: 50px auto;
  text-align: center;
}

.lp-color-container{
  background-color: #1F899C;
  color: #F8F9FA;
  padding: 20px 60px;

}
