.cards-container {
  width: 100%;
  background-color: #F8F9FA;
  padding: 32px 16px 16px;
  border-radius: 5px;
  box-shadow: rgba(0,0,0,0.15) 0px 2px 8px;
}

.insider-container {
  background-color: #f8f0f0;
  margin: 10px;
  padding: 32px 16px 16px;
  border-radius: 5px;
  box-shadow: rgba(0,0,0,0.15) 0px 2px 8px;
}

// project cards

.project-card {
  // display: flex;
  // align-items: center;
  border-radius: 5px;
  margin-bottom: 8px ;
  background: white;
  padding: 8px 16px;
  border: 1px solid rgb(235,235,235);
  // min-height: 100px;
}

.project-card .pcard-content {
  // flex-grow: 1;
  padding: 0 24px;
}

.project-card p {
  margin-bottom: 0;
  // height: auto;
}

// .project-card small {
//   color: #999999;
//   font-weight: bold;
// }
.project-card .project-actions {
  justify-content: end;
  align-items: center;
  opacity: 0;
  display: flex;
  transition: ease .3s;
}

.project-card:hover .project-actions {
  opacity: 1;
}

.project-card .project-actions .p-icon {
  color: #b4dac9;
  margin-left: 16px;
  font-size: 14px;
  font-weight: bold;
}

.project-card .project-actions .p-icon:hover {
  color: #b4dac9;
}

.cards-container li {
  list-style: none;
}
.pname {
  text-decoration: none;
}
