.shaded-container {
  width: 100%;
  background-color: #FFFFFF;
  padding: 32px 16px 16px;
  border-radius: 5px;
  box-shadow: rgba(0,0,0,0.15) 0px 2px 8px;
}

.insider-container {
  background-color: #f8f0f0;
  margin: 10px;
  padding: 32px 16px 16px;
  border-radius: 5px;
  box-shadow: rgba(0,0,0,0.15) 0px 2px 8px;
}
