.page-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  }

  .btn-round {
    background-color: $my-blue-green;
  }

  .copyright h3 {
    font-weight: lighter;
    font-size: 15px;
  }
