.navbar-mp {
  justify-content: space-between;
  & strong {
    color: $my-blue-green;
  }
}

.navbar-mp .navbar-collapse {
  flex-grow: 0;
}

.navbar-mp .navbar-brand img {
  width: 40px;
}

.nav-item {
font-size: 12px;
margin: 0px 10px;
}


.avatar {
  width: 30px;
  height: 30px;
  margin: 0px 20px;
}

// Added for the hover effect, did not touch anything up those lines
// To remove effect and go back to default, delete the lines down

.nav-link::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}

.nav-link:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav-link::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  inset: 17px 0 0 0;
  height: 12px;
  background: #b4dac9;
  z-index: -1;
  transition: transform .3s ease;
}

.nav-link {
  position: relative;
}
