.navbar-mp {
  justify-content: space-between;
}

.navbar-mp .navbar-collapse {
  flex-grow: 0;
}

.navbar-mp .navbar-brand img {
  width: 40px;
}

.nav-item {
font-size: 12px;
margin: 0px 10px;
}

.avatar {
  width: 30px;
  height: 30px;

  margin: 0px 20px;
}
