.navbar-mp {
  justify-content: space-between;
  & strong {
    color: $my-blue-green;
  }
}

.navbar-mp .navbar-collapse {
  flex-grow: 0;
}

.navbar-mp .navbar-brand img {
  width: 40px;
}

.nav-item {
font-size: 12px;
margin: 0px 10px;
}

a {
  text-decoration: none;
  color: #3BAD83;
  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

.avatar {
  width: 30px;
  height: 30px;
  margin: 0px 20px;
}
